* {
    margin: 0;
    padding: 0;
  }
  body {
background-color: rgb(0, 0, 0)
  
  }


  .nav_item {

    color: #ff0000;


  }
  

  .homepage_link {

    color: #bab2b2;
  }

  
  button {

    color: rgb(0, 0, 0);

  }
  h2 {

    color: #ffffff;

  }
  p {
    color: #ffffff;
  }
  .paragraph_1 {
 

    color: #ffffff;

  }
  .paragraph_2 {

    color: #dedede;

  }
  .FOOTER-TXT {

    color: #d7d0d0;

  }
  
  .link_button {

    color: #000000;
  }
  .change-theme[data-theme="dark-theme"] {
    display: none;
  }
  .change-theme[data-theme="light-theme"] {
    display: block;
  }
