* {
    margin: 0;
    padding: 0;
  }
  body {
background-color: #ffffff;
  
  }


  .nav_item {

    color: #ff0000;


  }
  

  .homepage_link {

    color: #ff0000;
  }

  
  button {

    color: aliceblue;

  }
  .h2 {

    color: #373737;

  }
  .paragraph_1 {
 

    color: #373737;

  }
  .paragraph_2 {

    color: #373737;

  }
  .FOOTER-TXT {

    color: #373737;

  }
  
  .link_button {

    color: #ffffff;
  }
  .change-theme[data-theme="dark"] {
    display: block;
  }
  .change-theme[data-theme="light"] {
    display: none;
  }

