* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;

}
.container {
    margin: auto;
    width: 1280px;
    height: 1626px;
}
header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.nav_item {
  display: inline;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
  margin-left: 72px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.nav_menu {
  text-align: center;
}
.homepage_link {
  text-decoration: none;
  color: #ff0000;
}
.banner {
  width: 1280px;
  height: 789px;
  background-image: url(/images/image\ 1.png);
  padding-bottom: 49px;
}

button {
  border: none;
  outline: none;
  border-radius: 7px;
  margin: 0 auto;
  display: block;
  background-color: #ff0000;
  color: aliceblue;
  text-decoration: NONE;
  width: 191px;
  height: 51px;
  outline: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 40px;
}
.h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  color: #373737;
  text-align: center;
  padding-bottom: 38px;
}
.paragraph_1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;

  color: #373737;
  padding-bottom: 28px;
}
.paragraph_2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;

  color: #373737;
  padding-bottom: 66px;
}
.FOOTER-TXT {
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;

  color: #373737;
  padding-bottom: 29px;
}

.link_button {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;

  color: #ffffff;
}
.theme {
  background-color: #ffffff;
  display: flex;
  position: fixed;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}